:root {
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background: #233142;
  --button: #8ded8e;
  --card: #455d7a;
  --input: #e3e3e3;
  --error: #f94449;
  --valid: #aef359;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

#app {
  max-width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 80rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--input);
  border-radius: 2rem;
  background-color: var(--card);
}

.form .organization {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem 0;
}

.form .organization img {
  max-width: 7rem;
  border-radius: 50%;
  background-image: none;
  object-fit: cover;
}

.form .organization .name {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0.5rem;
}

.form .organization .description {
  padding: 0 1rem;
  text-wrap: wrap;
}

.form .invite {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form .invite input[type="text"] {
  width: 20rem;
  height: 2.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 32px;
  outline: none;
  transition: border-color 0.25s ease;
  background-color: var(--background);
}

.form .invite .text {
  font-size: 1rem;
  font-weight: 600;
}

.form.error input[type="text"]:focus,
.form.error input[type="text"] {
  border-color: var(--error);
}

.form.error .text {
  color: var(--error);
}

.form.valid input[type="text"] {
  border-color: var(--valid);
}

.form.valid .text {
  color: var(--valid);
}

.form .invite button {
  width: 13rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button);
  color: var(--background);
  font-weight: 600;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.form .invite input[type="text"]:focus,
.form .invite input[type="text"]:hover {
  border-color: var(--input);
}

.form .invite button:hover {
  border-color: var(--background);
}

.form .invite button:focus,
.form .invite button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
