:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: 00000;
  --purple: #646cff;
  --white: #fff;
  --red: #de0611;
  --green: #4bb543;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.hidden {
  display: none !important;
}

.user {
  border: 1px solid var(--white);
  border-radius: 2rem;
  width: 25rem;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user img {
  height: 10rem;
  border: 5px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
  clip-path: circle(50%);
}

.number-follow {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.number-follow div {
  width: 40%;
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--white);
  border-radius: 5rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  width: 13rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--purple);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.form {
  width: 25rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border: 2px solid var(--white);
  border-radius: 2.5rem;
}

.form input[type="text"] {
  width: 20rem;
  height: 2.5rem;
  padding: 0 1rem;
  border: 2px solid;
  border-radius: 2rem;
  outline: none;
  transition: border-color 0.25s;
}

.form input[type="text"]:hover,
.form input[type="text"]:focus {
  border-color: var(--purple);
}

.form.error input[type="text"] {
  border-color: var(--red);
}
.form.error .invite p {
  color: var(--red);
}

.form .organization {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* border: 2px solid var(--red); */
}

.form .organization .description {
  height: 30%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form .organization .name {
  height: 10%;
}

.form .organization img {
  width: 25%;
  height: 25%;
  border-radius: 100%;
}

.form .invite {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .invite button {
  margin: 2rem 0 0 0;
}

.form.valid input[type="text"] {
  border-color: var(--green);
}

.form.valid .invite p {
  color: var(--green);
}
